<div class="icons clearfix">
 <div class="icon">
  <div class="col-xs-2 col-lg-1 left">
   <img src="/assets/log.jpg" >
  </div>
  <div class="col-xs-2 col-lg-1 right">
   <img src="/assets/police.jpg">
  </div>
 </div>
  <div class="col-xs-4 col-lg-2 center">
   <img src="/assets/microphone.jpg">
  </div>
 <div class="icon">
  <div class="col-xs-2 col-lg-1 left">
   <img src="/assets/sound.jpg">
  </div>
  <div class="col-xs-2 col-lg-1 right">
   <img src="/assets/nkoku.png">
  </div>
 </div>
</div>