<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 mr-lg-auto">
          <img src="/assets/nkoku.png">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 mr-lg-auto">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <p class="letters">N国党の撃退メソッド</p>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/2rQKiWgz2ns" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2"></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <p class="letters">↓あなたの代わりに撃退します↓</p>
          <%= link_to image_tag('/assets/gekitai.png'), '/nkoku/phrases' %>
        </div>
      </div>
  </body>
</html>