<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
  <body>
      <div class="row row-0">
        <div class="col-12 col-md-12 col-lg-2">
          <img src="/assets/gekitai.png">
        </div>
        <div class="col-12 col-md-12 col-lg-10">
        	<script type="text/javascript">play();</script>
          <div class="row relr">
            <div class="col-1 col-md-2 col-lg-2"></div>
            <div class="col-10 col-md-8 col-lg-8 rel sounds" data-file="court">
              <a>裁判してください</a>
            </div>
            <div class="col-1 col-md-2 col-lg-2"></div>
            <div class="col-1 col-md-2 col-lg-2"></div>
            <div class="col-10 col-md-8 col-lg-8 rel sounds" data-file="nocontract">
              <a>契約しません</a>
            </div>
            <div class="col-1 col-md-2 col-lg-2"></div>
            <div class="col-1 col-md-2 col-lg-2"></div>
            <div class="col-10 col-md-8 col-lg-8 rel sounds" data-file="getout">
              <a>お帰りください</a>
            </div>
            <div class="col-1 col-md-2 col-lg-2"></div>
          </div>
        </div>
      </div>
  </body>
  	<script src="sound.js"></script>
</html>
