html, body { height:100%; margin:0; }

.icons{
  box-sizing: border-box;
  height: 100%;
  padding-top: 30px;
}

.switch-on{
    display: inline-block;
    height:30px;
    color: red;
    font-size:30px;
    font-weight: bold;
    visibility: visible;
}
.switch-off{
    display: inline-block;
    height:30px;
    visibility: hidden;
}

.sound{
  position:relarive;
}

.switch{
  position:absolute;
  top: 65%;
  left: 47%;
}

.voice{
  width:225px;
  height:225px;
}

#new > div{
  display: none;
}
#new.able #recorder,
#new.unable #unableRecord{
  display: block;
}
#recorder > *{
  display: none;
}
#recorder.default #startButton,
#recorder.started #pauseButton,
#recorder.started #stopButton,
#recorder.paused #resumeButton,
#recorder.paused #stopButton,
#recorder.stopped #deleteButton,
#recorder.stopped #saveButton,
#recorder.stopped #player{
  display: inline;
}
#new,
#saved{
  padding: 5px 20px;
}
audio{
  max-width: 100%;
}
#saved th,
#saved td{
  border: 1px solid #000;
  padding: 5px;
}

.push{
  cursor:pointer;
}
