
.one{
  background-color: #f7f7f7;
}
.two{
  background-color:#FFCC80;
}

.container{
  background-color: #ccc;
  padding-left:0px;
  margin-left:0px;
}

.parent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child{
  width:60px;
}

.page{
  text-align:center;
}

#switch{
  cursor:pointer;
  width:225px;
  height:225px;
  background-image:url(/assets/sound.jpg);
}

.active{
	background-position:bottom;
}

.time{
  float:left;
}

.player{
  float:right;
}

.datas{
    background-color: #b1eeff;
    padding: 2em 0;
    margin: 2em 0;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position:relarive;
    height:100px;
}
